body {
    margin: 0;
    font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
    text-align: center;
    background: lightgoldenrodyellow;
    height:100%;
  }
.calendar td:first-child {
  background: rgb(255, 35, 46);
}
.calendar td:last-child {
  background: rgb(110, 245, 128);
}
.calendar th:first-child {
  background: rgb(255, 35, 146);
}
.calendar th:last-child {
  background: rgb(110, 245, 228);
}  