body {
  margin: 0;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  text-align: center;
  background: lightgoldenrodyellow;
}

.container {
  text-decoration: none;
  border-radius: 10%;
  overflow: hidden;
  width: 1000px;
  border: 0;
  text-align: center;
  background: rgb(240, 229, 135);
  margin: auto;
}

.calendar {
  width: 600px;
  height: 600px;
  text-align: center;
  background: rgb(170, 216, 189);
}

.calendar tr {
  background: rgb(130, 222, 238);
  font-size: 30px;
}
.calendar td:first-child {
  background: rgb(255, 35, 46);
  font-size: 30px;
}
.calendar td:last-child {
  background: rgb(255, 35, 46);
  font-size: 30px;
}
.calendar th:first-child {
  background: rgb(255, 35, 46);
  font-size: 30px;
}
.calendar th:last-child {
  background: rgb(255, 35, 46);
  font-size: 30px;
}

.month {
  width: 600px;
  background: aqua;
  font-size: 20px;
}

.calendar td {
  font-size: 25px;
  background: #becdd3;
}

.calendar td:hover {
  background: darkseagreen;
  font-weight: bolder;
}

.date {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  font-weight: bold;
}

.rCol {
  /* background: url("https://picsum.photos/400/640/?random=1"); */
  background-repeat: no-repeat;
  background-size: auto;
  width: 400px;
}

.calendar .selected {
  background: #3e70db;
}

.month .selected {
  background: blueviolet;
}
